@model IEnumerable<SteadtlerHR.Models.Employee>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Employee</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var employee in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => employee.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => employee.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => employee.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => employee.Manager)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@employee.ID">Edit</a>
                <a asp-action="Details" asp-route-id="@employee.ID">Details</a>
                <a asp-action="Delete" asp-route-id="@employee.ID">Delete</a>

            </td>
        </tr>
        }
    </tbody>
</table>